

::-webkit-scrollbar {
    width: 4px;
  }
  
  
  ::-webkit-scrollbar-track {
    color: transparent;

  }
  
  
  ::-webkit-scrollbar-thumb {
    background: #ebebeb;
    border-radius: 10px;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }



html {
    
    cursor: url(./assests/vectors/cursors/cursor-black.svg), pointer !important;
  }
  
 
  .link-hover, a , .hamburger svg {
    cursor: url(./assests/vectors/cursors/cursor-blue.svg), pointer !important;
  }
  
  .button-hover, button {
    cursor: url(./assests/vectors/cursors/cursor-blue.svg), pointer !important;
  }


body {
    background-color: #0e0e0e;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 40px;
}

.container {
    text-align: center;
}

h1 {
    font-family: 'Bakbak One', sans-serif;
    font-size: 36px;
    margin-bottom: 30px;
}

table {
    width: 100%;
    max-width: 600px;
    border: 2px solid white;
    margin-bottom: 30px;
    table-layout: fixed;
    border-radius: 8px;
    background-color: #101010;
    overflow: hidden;
}

th {
   
    color: #fff;
    font-weight: normal;
}

td{
    background-color: #020202;
}
th, td {
    padding: 15px;
    
    word-wrap: break-word;
}

a {
    color: #66c2ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: yellow;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }
    table {
        font-size: 14px;
    }
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}