:root{
    --color-blue: #043AFB;
    transition: color 0.3s ease;
}

::-webkit-scrollbar {
    width: 4px;
  }
  
  
  ::-webkit-scrollbar-track {
    color: transparent;

  }
  
  
  ::-webkit-scrollbar-thumb {
    background: #ebebeb;
    border-radius: 10px;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }



html {
    
    cursor: url(./assests/vectors/cursors/cursor-black.svg), pointer !important;
  }
  
 
   a, tr:has(a)  {
    cursor: url(./assests/vectors/cursors/cursor-blue.svg), pointer !important;
  }
  
  
  tr th {
    font-weight: 600;
  }


body {
    background-color: #0e0e0e;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 40px;
}

.container {
    text-align: center;
}

h1 {
    font-family: 'Bakbak One', sans-serif;
    font-size: 36px;
    margin-bottom: 30px;
}

table {
    width: 100%;
    max-width: 600px;
    border: 2px solid rgb(59, 59, 59);
    margin-bottom: 30px;
    table-layout: fixed;
    border-radius: 8px;
    background-color: #101010;
    overflow: hidden;
}

th {
   
    color: #fff;
    font-weight: normal;
}

td{
    background-color: #020202;
    display: flex;
}
th, td {
    padding: 15px;
    
    word-wrap: break-word;
}

a {
    color: whitesmoke;
    text-decoration: none;
    transition: color 0.3s ease;
    justify-content: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 40px;
}

a::after {
    content: "";
    
    display: inline-block;
    width: 2em;
    height: 1em;
    margin-bottom: 1px;
    margin-left: 8px;
    background: url(./assests//vectors/eye-grey.svg) no-repeat center center / contain;
    vertical-align: middle;
   
}

td:has(a):hover {
    background-color: #01071b;
    
}

td:hover a {
    color: var(--color-blue);
}

td:hover a::after {
    background: url(./assests//vectors/eye.svg) no-repeat center center / contain;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }
    table {
        font-size: 14px;
    }
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}